<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8"/>
    <title>Listagem de Produtos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/public/css/style.css"/>
    <script src="https://kit.fontawesome.com/2962562ef7.js"/>
    <script src="https://unpkg.com/axios/dist/axios.min.js"/>
  </head>
  <body>
    <div class="auth-content">
      <div class="auth-modal">
        <form>
          <small id="error-message">Usuário e/ou senha incorreto(s)</small>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-at"/>
                </span>
              </div>
              <input id="inputEmail" type="email" class="form-control" name="email" placeholder="Entre seu email..."/>
            </div>
            <div class="input-group mt-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-asterisk"/>
                </span>
              </div>
              <input id="inputPassword" type="password" class="form-control" name="password" placeholder="Entre sua senha..."/>
            </div>
          </div>
          <button id="submit" type="button" class="btn btn-primary">Entrar</button>
          <button id="register" type="button" class="btn btn-secondary ml-2">Cadastrar Acesso</button>
        </form>
      </div>
    </div>
    <script src="/public/js/script.js"/>
  </body>
</html>
