<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8"/>
    <title>Listagem de Produtos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/public/css/style.css"/>
    <script src="https://unpkg.com/axios/dist/axios.min.js"/>
  </head>
  <body>
    <div class="register-content">
      <div class="register-modal">
        <form id="register-form">
          <div class="form-group">
            <label for="nameInput">Nome:</label>
            <input type="text" class="form-control" id="nameInput" name="nomeUsr" placeholder="Seu nome..."/>
          </div>
          <div class="form-group">
            <label for="emailInput">Email:</label>
            <input type="email" class="form-control" id="emailInput" name="emailUsr" placeholder="Seu email..."/>
          </div>
          <div class="form-group">
            <label for="loginInput">Login:</label>
            <input type="text" class="form-control" id="loginInput" name="loginUsr" placeholder="Seu login..."/>
          </div>
          <div class="form-group">
            <label for="passInput">Senha:</label>
            <input type="password" class="form-control" id="passInput" name="senhaUsr" placeholder="Sua senha..."/>
          </div>
          <div class="form-group">
            <label for="checkPassInput">Confirmação de Senha:</label>
            <input type="password" class="form-control" id="checkPassInput" name="confirmPassword" placeholder="Confirme sua senha..."/>
          </div>
          <button id="register-btn" type="button" class="btn btn-primary">Registrar</button>
          <button type="reset" class="btn btn-secondary ml-2">Resetar</button>
        </form>
        <a href="/auth" class="mt-3" style="align-self: start;">Voltar</a>
      </div>
    </div>
    <script src="/public/js/script.js"/>
  </body>
</html>
